asgiref==3.6.0
astroid==2.15.0
bleach==6.0.0
dill==0.3.6
Django==4.1.7
django-cors-headers==3.14.0
django-environ==0.10.0
django-psdb-engine==1.0.6
django-summernote==0.8.20.0
djangorestframework==3.14.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mysqlclient==2.1.1
Pillow==9.4.0
platformdirs==3.1.0
pylint==2.16.4
pylint-django==2.5.3
pylint-plugin-utils==0.7
python-dotenv==1.0.0
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
webencodings==0.5.1
wrapt==1.15.0
