.body{
    position:relative;
    display: block;
    z-index:3;
    color: aliceblue;
}
.card
{
    top:60px;
    width: 400px;

    padding: 12px;
    position: relative;
    margin:auto;
    
    background: rgba(255,255,255,0.2);
    border-radius: 12px;
    /* border-color: rgba(255,255,255,0.2); */
    box-shadow: rgba(255,255,255,0.2) 0px 0px 20px;
    /* backdrop-filter: saturate(180%) blur(2px); */
}
.table
{
    font-family: 'Lobster Two', cursive;
    
}
.header
{
    font-size:40px;
}

.mail{
    font-size:20px;
}
.mail a
{
    text-decoration: none;
    color: inherit;
}
.mail a:hover 
{
    text-decoration: underline;
}
.comment
{
    display:block;
}
.comment input
{
    width:80%;
    margin:5px;
    font-size:1.2em;
    height: 2em;
    padding:0.5em;
}
.comment textarea
{
    height:10em;
    width:80%;
    resize:none;
    margin: 5px;
    font-size:1.5em;
    padding:0.5em;
}
.comment button
{
    margin:5px;
    font-size:1.2em;
    height: 3em;
    width:9em;
    border: none;
    border-radius: 12px;
    background-color: rgb(45, 128, 252);
    color: rgb(218, 217, 217);
}

@media only screen and (max-width: 600px) {
    .body{
        overflow-y: hidden;
    }
    .card{
        top:7px;
        width: 91vw;
        height: 800px;
        background: rgba(255,255,255,0.2);
        backdrop-filter: saturate(180%) blur(2px); 
    }
    .comment
    {
        height:1em;
    }
    .comment input,textarea {
        border-radius: 20px;
    }
    
}
