.wrapper {
    color:white;
    z-index: 3;
    width:100vw;
    height: 100vh;
    position:relative;
}
.article
{
    position: relative;
    top:140px;
    font-size: 25px;
    line-height: 1.8;
    width:100%;
    max-width: 50rem;
    margin: 0 auto;
    text-align: justify;
}